.taskBox {
    background-color: #25273B;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue !important;
    width: 80%;
    border-radius: 10px;
    padding: 5px;
    padding-bottom: 15px;
    margin: 10px;
    word-wrap: break-word;
    transition: .3s;
}

.taskBox h3 {
    left: 10px;
}

.taskBox p {
    font-size: 16px;
    margin-left: 10px;
    min-width: 100%;
    padding: 5px;
    transition: .3s;
}

.taskBox div {
    margin-left: 15px;
    width: 110%;
}

.boxButtonGeneric {
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 10%;
    transition: .3s;
}
.boxButtonGeneric:hover {
    color: rgb(198, 206, 212);
}
.boxButtonGeneric:active {
    color: rgb(146, 153, 158);
    
}

.editButton {
    margin-right: 35px;
}

.trashButton {
    margin-right: 5px;
}

@media screen and (min-width: 480px) {
    .editButton {
        
    }
}

@media screen and (min-width: 720px) {
    .editButton {
        
    }
}

.difficulty {
    margin-top: 15px;
}

.taskBox.VeryEasy {
    box-shadow: 5px 5px #8BD41C;
}
.VeryEasy {
    color: #8BD41C;
}

.taskBox.Easy {
    box-shadow: 5px 5px #4AD34A;
}
.Easy {
    color: #4AD34A;
}

.taskBox.Medium {
    box-shadow: 5px 5px #D3BA30;
}
.Medium {
    color: #D3BA30
}

.taskBox.Hard {
    box-shadow: 5px 5px #D3521E;
}
.Hard {
    color: #D3521E
}

.taskBox.VeryHard {
    box-shadow: 5px 5px #CA1E1E;
}
.VeryHard {
    color: #CA1E1E;
}
