.fade {
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.3;
}

.form {
    position: absolute;
    z-index: 1;
    color: aliceblue;
}

.centralize {
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}